body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    background-color: #eef2f7;
    padding: 10px;
    border-radius: 5px;
}
.progress {
    width:300px;
    background:#ddd;
    border-radius:5px;
}

.progress-bar {
    background:green;
    color:white;
    padding:5px;
    border-radius:5px;
    text-align:center;
}
.logout-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
}